{
  "swagger": "2.0",
  "info": {
    "title": "ostravar",
    "version": "1.0",
    "description": "Schéma vychází z JSON definice, je možné vytvářet post requesty: https://github.com/ljanecek/ostravar-api\n\nPo dokončení bude PRIVATE"
  },
  "host": "server-ats.cz",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "Login",
        "operationId": "post-login",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number"
                }
              },
              "required": [
                "userId"
              ]
            },
            "examples": {}
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string",
                  "example": "Invalid login information"
                }
              },
              "required": [
                "status",
                "message"
              ]
            },
            "examples": {}
          }
        },
        "description": "Přihlášení uživatele, je potřeba na pozadí ověřit accessToken a na základě něho získat údaje o uživateli pokud se jedná o přihlášení pomocí google nebo facebook-u",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            },
            "x-examples": {
              "Example": {
                "email": "test@test.test",
                "password": "password123",
                "loginType": "email"
              }
            },
            "description": ""
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "loginType": {
                  "type": "string",
                  "enum": [
                    "email",
                    "facebook",
                    "google"
                  ]
                },
                "accessToken": {
                  "type": "string",
                  "description": "Facebook access token or Google access token"
                }
              },
              "required": [
                "loginType"
              ]
            },
            "x-examples": {
              "Example": {
                "email": "test@test.test",
                "password": "password123",
                "loginType": 1
              },
              "example-2": {}
            },
            "description": ""
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            },
            "x-examples": {
              "example-1": {}
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          }
        ]
      }
    },
    "/registration": {
      "post": {
        "summary": "Registration",
        "operationId": "post-registration",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "jwt": {
                  "type": "string"
                }
              },
              "required": [
                "jwt"
              ]
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string",
                  "example": "This user already exists"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "passwordConfirmation": {
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                },
                "zipCode": {
                  "type": "string"
                },
                "agreements": {
                  "type": "object",
                  "properties": {
                    "commercial": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "required": [
                "email",
                "password",
                "passwordConfirmation",
                "agreements"
              ]
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          }
        ],
        "description": "Registrace uživatele pomocí emailu"
      }
    },
    "/reset-password": {
      "post": {
        "summary": "Request reset password",
        "operationId": "post-reset-password",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number",
                  "default": 1
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            },
            "examples": {}
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number",
                  "default": 0
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                }
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "description": "",
            "required": true
          }
        ],
        "description": "Odeslání emailu s unikátním hashem obsahující platnost: 2 hodiny"
      }
    },
    "/update-password": {
      "post": {
        "summary": "Update password",
        "operationId": "post-update-password",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number",
                  "default": 1
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            },
            "examples": {}
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string",
                  "default": "Has is not valid"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "newPassword": {
                  "type": "string"
                },
                "hash": {
                  "type": "string"
                }
              },
              "required": [
                "newPassword",
                "hash"
              ]
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          }
        ],
        "description": "Změna hesla nepřihlášeného uživatele"
      }
    },
    "/user-data": {
      "get": {
        "summary": "Get user data",
        "operationId": "get-user-data",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "zipCode": {
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "userId": {
                  "type": "number"
                },
                "currentRound": {
                  "type": "object",
                  "required": [
                    "receiptsCont",
                    "codesCount"
                  ],
                  "properties": {
                    "receiptsCont": {
                      "type": "number"
                    },
                    "codesCount": {
                      "type": "number"
                    }
                  }
                },
                "city": {
                  "type": "string"
                },
                "street": {
                  "type": "string"
                },
                "prizeDraw": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "codes",
                          "receipts"
                        ]
                      },
                      "round": {
                        "type": "string"
                      },
                      "prizeId": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "type",
                      "round"
                    ]
                  }
                },
                "votes": {
                  "type": [
                    "string",
                    "array"
                  ],
                  "items": {
                    "type": "object",
                    "properties": {
                      "projectId": {
                        "type": "number"
                      },
                      "count": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "projectId",
                      "count"
                    ]
                  }
                },
                "freeVotes": {
                  "type": "number"
                }
              },
              "required": [
                "zipCode",
                "phoneNumber",
                "email",
                "lastName",
                "firstName",
                "userId",
                "currentRound",
                "city",
                "street",
                "prizeDraw",
                "votes"
              ]
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "description": "",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "description": "",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number"
                }
              }
            }
          }
        ]
      }
    },
    "/user-update": {
      "post": {
        "summary": "Update user data",
        "operationId": "post-user-update",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                },
                "zipCode": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "street": {
                  "type": "string"
                },
                "userId": {
                  "type": "number"
                }
              },
              "required": [
                "userId"
              ]
            }
          }
        ]
      }
    },
    "/registration-confirmation": {
      "post": {
        "summary": "Registration confirmation",
        "operationId": "post-registration-confirmation",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string"
                }
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          }
        ],
        "description": "Potvrzení emailové registrace"
      }
    },
    "/code-verification": {
      "post": {
        "summary": "Code verification",
        "operationId": "post-code-verification",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "userId": {
                  "type": "number"
                }
              },
              "required": [
                "code",
                "userId"
              ]
            }
          }
        ],
        "description": "Nahrání kódů z podvíčka (nebo jiného umístění)"
      }
    },
    "/receipt-acquisition": {
      "post": {
        "summary": "Receipt acquisition",
        "operationId": "post-receipt-acquisition",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true,
            "description": ""
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "receipts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "receiptId": {
                        "type": "number"
                      },
                      "userId": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Nahrání kódu účtenky, bude se provádět z backendu, takže tento endpoint je otevřený, zabezpečený pomocí Application Key"
      }
    },
    "/user-vote": {
      "post": {
        "summary": "User vote",
        "operationId": "post-user-vote",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Hlasování uživatele, ověření počtu dostupných hlasů na straně ATS, ATS by mělo zachovávat ID hlasů",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "number"
                },
                "userId": {
                  "type": "number"
                }
              },
              "required": [
                "projectId",
                "userId"
              ]
            }
          }
        ]
      }
    },
    "/user-remove": {
      "delete": {
        "summary": "",
        "operationId": "delete-user-remove",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Application Key",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {},
  "basePath": "/api"
}